.nav {
    grid-area: n;
    background-color: #90a4ae;
    font-size: 30px;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: #ffd700;
}

.friendsItem {
    color: chocolate;
    text-decoration: none;

    height: 150px;
    padding-top: 55px;
}