.dialogs {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}

.activeLink {
    color: darkgoldenrod;
}

.dialog {
    text-decoration: none;
}


.item img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

/*
display: grid; - говорим что это грид
 grid-template-columns: 2fr 10fr;   - это колонки
 */